* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.header {
  display: flex;
  width: 100%;
  height: 100vh; }
  .header .header-left {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    padding-bottom: 0;
    align-items: center;
    background-color: black;
    position: relative;
    position: fixed;
    top: 0;
    z-index: 15; }
    .header .header-left .menu {
      font-size: 35px;
      color: white;
      cursor: pointer; }
    .header .header-left .cancel {
      font-size: 40px;
      color: white;
      cursor: pointer;
      display: none; }
    .header .header-left .search {
      font-size: 35px;
      background-color: white;
      width: 100px;
      height: 100px;
      align-items: center;
      justify-content: center;
      display: flex;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      transition: 0.2s; }
      .header .header-left .search:hover {
        background-color: #bebebe; }
    .header .header-left .cancel-2 {
      font-size: 39px;
      background-color: white;
      width: 100px;
      height: 100px;
      padding: 30px;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      display: none;
      transition: 0.2s; }
      .header .header-left .cancel-2:hover {
        background-color: #bebebe; }
  .header .search-box {
    position: absolute;
    bottom: 0;
    left: -1820px;
    position: fixed;
    z-index: 11;
    transition: 0.5s; }
    .header .search-box input {
      width: 1810px;
      height: 100px;
      border: none;
      outline: none;
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      transition: 0.5s; }
  .header .sidebar-menu {
    width: 650px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10;
    background-color: #5a2a14;
    position: absolute;
    top: 0;
    left: -560px;
    position: fixed;
    transition: 0.3s; }
    .header .sidebar-menu ul li {
      list-style: none;
      font-size: 30px;
      font-weight: 400;
      color: white;
      margin-top: 15px;
      cursor: pointer;
      text-transform: uppercase; }
  .header .header-right {
    width: 100%; }
    .header .header-right .back-img {
      position: relative; }
      .header .header-right .back-img img {
        object-fit: cover;
        width: 100%;
        height: 100vh; }
    .header .header-right .slider-dots {
      position: absolute;
      right: 150px;
      bottom: 90px; }
      .header .header-right .slider-dots i {
        color: #afafaf;
        font-size: 9px;
        width: 15px;
        height: 15px;
        cursor: pointer;
        transition: 0.2s; }
        .header .header-right .slider-dots i:hover {
          font-size: 12px; }
  .header .header-right-top {
    position: absolute;
    top: 30px;
    left: 250px;
    z-index: 11; }
    .header .header-right-top h2 {
      color: white;
      font-weight: 300;
      font-size: 30px;
      letter-spacing: 2px; }
    .header .header-right-top p {
      color: white;
      font-weight: 300;
      margin-left: 100px;
      margin-top: 8px;
      font-size: 18px;
      letter-spacing: 6px; }
    .header .header-right-top nav {
      position: relative; }
      .header .header-right-top nav .line-1 {
        position: absolute;
        top: -12px;
        left: -150px;
        color: white;
        width: 230px;
        height: 2px;
        background-color: white; }
      .header .header-right-top nav .line-2 {
        position: absolute;
        top: -12px;
        left: 225px;
        color: white;
        width: 1427px;
        height: 2px;
        background-color: white; }
  .header .header-right-main {
    position: absolute;
    top: 330px;
    left: 250px;
    color: white;
    z-index: 5; }
    .header .header-right-main h1 {
      font-size: 100px;
      font-weight: 400;
      line-height: 90px; }
    .header .header-right-main button {
      padding: 17px;
      color: black;
      background-color: white;
      width: 200px;
      border: none;
      outline: none;
      margin-top: 60px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      transition: 0.3s;
      border-radius: 30px; }
      .header .header-right-main button:hover {
        border: 1px solid white;
        color: white;
        background: transparent; }

.about-us {
  color: white;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px; }
  .about-us .about-title {
    width: 70%;
    margin: auto; }
    .about-us .about-title h1 {
      font-size: 20px;
      font-weight: 400;
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: left;
      color: #8E492B;
      text-transform: uppercase;
      letter-spacing: 5px; }
  .about-us .about-top {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 70%;
    margin: auto;
    gap: 100px; }
    .about-us .about-top div {
      display: flex;
      align-items: end;
      justify-content: left;
      margin-bottom: 120px; }
      .about-us .about-top div h1 {
        font-size: 170px;
        font-weight: 300; }
      .about-us .about-top div p {
        margin-bottom: 40px;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 2px; }
  .about-us .about-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .about-us .about-bottom .bottom-image {
      margin-left: 100px;
      overflow: hidden;
      position: relative; }
      .about-us .about-bottom .bottom-image img {
        object-fit: fill;
        overflow: hidden;
        z-index: 1; }
      .about-us .about-bottom .bottom-image .img-style {
        position: absolute;
        top: 0;
        width: 45px;
        height: 100vh;
        background-color: #8E492B;
        z-index: 2; }
    .about-us .about-bottom .bottom-info {
      width: 50%;
      padding-right: 200px;
      padding-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .about-us .about-bottom .bottom-info p {
        font-size: 27px;
        font-weight: 300;
        letter-spacing: 1px; }
      .about-us .about-bottom .bottom-info .info-button {
        display: flex;
        align-items: center;
        margin-top: 50px; }
        .about-us .about-bottom .bottom-info .info-button button {
          padding: 17px;
          color: black;
          width: 200px;
          border: 1px solid white;
          outline: none;
          background: transparent;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          transition: 0.3s;
          border-radius: 30px;
          color: white;
          cursor: pointer; }
          .about-us .about-bottom .bottom-info .info-button button:hover {
            background-color: white;
            color: black; }
        .about-us .about-bottom .bottom-info .info-button p {
          font-size: 14px;
          font-weight: 500;
          margin-left: 20px; }

.faqs {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  width: 100%; }
  .faqs .faqs-section {
    margin-left: 100px; }
  .faqs img {
    width: 40%; }

/*# sourceMappingURL=style.css.map */
